*{
  margin:0px;
  padding:0px;
}
body{
  margin:0;

  


}

.container {
  width:100%;
  margin: 0% ;

}
header{
  background: #edbf9c;

}
header::after{
  content: '';
  display: table;
  clear: both;
}



.logo{
  float: left;
   width:300px;
    height:79px;}

nav {
  float:right;
}
nav ul{
  margin:0px;
  padding: 0px;
  list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 1px;
  /*  padding-left: 1px;*/
    position: relative;
}
nav ul li a{

  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;

}
nav a:hover {

    color: white;
    }
nav a::before{
      content:'';
      display: block;
      height: 5px;
      width: 0%;
      background-color: #444;
      position:absolute;
      top: 0;
      transition: all ease-in-out 250ms;


    }
nav a:hover::before{
  width: 100%;
}

.first-section {
  /*  width: 100%;*/
 
    height: 93vh;
    background: rgb(255, 235, 208);
    /* transform: translateY(-20px); */
    position: relative;
    margin: 0px auto;
}

.first {

    position: absolute;
    top: 5px;
    left: 50px;
    transition: ease-in .5s;
    color: #9c7910;
}

.first h1 {

    font-size: 5em;
    display: inline-block;
    color: rgb(93, 224, 124);
 
}

.first h4 {
    font-size: 1.1em;
    font-weight: bold;
   
}

.first h4 span {
    color: #9c7910;
}

.first h4 i {
    font-size: .75em;
    font-style: normal;
    font-weight: lighter;
    margin-left: 25px;
    color: #666;
}

.signUp {


  padding-top: 500px;
  text-align: center;
  margin-top: 0;
  padding-bottom: 50px;
  background-color: #edcf9c;
  height: 100px;
}

input[type = text] {
  height: 50px;
  width: 400px;
  left: 30%;

}


input[type = submit] {
  height: 50px;
  width: 100px;
  left: 30%;

}


.scroll-section {
    width: 100%;
    background: rgb(255, 235, 208);
     height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 45px;
    justify-content: center;
    position: relative;
}

.col {
    width: 50%;
}

.col img {
    width: 100%;
     height: 400px;
   
    margin-bottom: 1000px; 
    padding: 0px;
}

.slideshow {
    position: relative;
}

.slide {
    width: 100%;
    position: absolute;
    transition: opacity 1.5s ease-in;
  }
  
.slide + .slide {
    opacity: 0;
}

#mobile-feature {
    display: none;
}




.headin1{

 text-align: center;
 font-size: 3em;
 display: inline-block;
 color: grey;
 padding: 5%;
 


}
.team{
  display: inline-block;
  background-color: grey;
  
}
.team img{
   
  padding:80px;
  border-radius: 50%;
}




/*
.signUp {


  padding-top: 300px;
  text-align: center;
  margin-top: 0;
  padding-bottom: 5px;
  background-color: #edcf9c;
  height: 100px;
}

input[type = text] {
  height: 50px;
  width: 400px;
  left: 30%;

}


input[type = submit] {
  height: 50px;
  width: 100px;
  left: 30%;

}
*/




footer {
    background: #444;
    color: #fff;
    font-size: .8em;
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-list {
    list-style: none;
    margin-right: 50px;
    text-align: right;
    line-height: 2em;
}

.footer-nav-list li a {
    /* color: rgb(136, 253, 164); */
    color: #c79e21;
    /* color: #8b6800; */
    font-weight: 300;
    text-transform: capitalize;
      text-decoration: none;
}

.copyright {
    opacity: .5;
}

.copyright-mobile {
    text-align: center;
    opacity: .5;
    display: none;
}
*/









@media only screen and (max-width: 480px) {

  .logo{
    width: 100%;
   
  }
  
    
}

@media all and (min-width: 481px) and (max-width: 768px){
   .logo{
    width: 100%;
   
  }
  
  
  
}
  @media all and (min-width: 768px) and (max-width: 991px){
  
}